<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org"	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorate="layouts/layout">
<!--/* title */-->
<th:block layout:fragment="title">
	<title>리스트</title>
</th:block>

<!--/* style */-->
<th:block layout:fragment="add-css">
	<link rel="stylesheet" th:href="@{/css/common/calendar.css}" />
	<link rel="stylesheet" th:href="@{/css/main/dashboard/dashboard.css}" />
<!-- dash.html head -->
<link id="daily-css"  rel="stylesheet" th:href="@{/css/main/dashboard/components/dashboard-daily.css}"  disabled="false" />
<link id="weekly-css" rel="stylesheet" th:href="@{/css/main/dashboard/components/dashboard-weekly.css}" disabled="true" />
<link id="monthly-css" rel="stylesheet" th:href="@{/css/main/dashboard/components/dashboard-monthly.css}" disabled="true" />

        <link rel="stylesheet" th:href="@{/css/main/dashboard/modal/schedule-modal.css}" />
        <link rel="stylesheet" th:href="@{/css/main/dashboard/modal/location-sidebar.css}" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <link rel="stylesheet" th:href="@{/css/main/dashboard/modal/save-toast.css}" />
        <link rel="stylesheet" th:href="@{/css/main/dashboard/modal/monthly-more-modal.css}" />
</th:block>
<!--/* content */-->
<th:block layout:fragment="content">
	<div class="dashboard-header">
                <!-- 좌측: 일정 목록 선택 -->
                <div class="dashboard-header-left">
                목록 :
                        <select id="schedule-list-select" class="schedule-list-select"></select>
                        <button type="button" id="schedule-list-add" class="list-add-btn">추가</button>
                        <button type="button" id="schedule-list-edit" class="list-edit-btn">편집</button>
                        <input type="hidden" id="current-schedule-list-id" />
                </div>
		<!-- 중앙: 날짜 내비게이션 -->
		<div class="dashboard-header-center">
			<button id="prev-date" class="date-nav">&lt;</button>
			<input  type="text" id="current-date" data-view ="daily" data-select-date="" readonly/>
			<button id="next-date" class="date-nav">&gt;</button>
		</div>
		<!-- 우측: 뷰 토글 버튼 -->
		<div class="dashboard-header-right">
<!-- 			<button class="view-btn" data-view="today">오늘</button> -->
			<button class="view-btn active" data-view="daily">일간</button>
			<button class="view-btn" data-view="weekly">주간</button>
			<button class="view-btn" data-view="monthly">월간</button>
<!-- 			<button class="view-btn" data-view="yearly">년간</button> -->
		</div>
	</div>
	<div id="fragment-container"></div>
	
	<!-- 	daily.html 등록 모달 -->	

             <div th:replace="~{main/dashboard/components/modal/schedule-modal :: schedule-modal}"></div>
             <div th:replace="~{main/dashboard/components/modal/schedule-list-modal :: schedule-list-modal}"></div>
             <div th:replace="~{main/dashboard/components/modal/location-sidebar :: location-sidebar}"></div>
             <div th:replace="~{common/calendar-modal :: calendar-modal}"></div>
             <div th:replace="~{common/toast :: save-toast}"></div>
             <div th:replace="~{main/dashboard/components/modal/monthly-more-modal :: monthly-more-modal}"></div>

</th:block>
<!--/* script */-->
<th:block layout:fragment="script">
        <script th:src="@{/js/main/dashboard/dashboard.js}"></script>
	<script th:src="@{/js/common/calendar.js}"></script>
        <script th:src="@{/js/main/dashboard/components/dashboard-daily.js}"></script>
        <script th:src="@{/js/main/dashboard/components/dashboard-weekly.js}"></script>
        <script th:src="@{/js/main/dashboard/components/dashboard-monthly.js}"></script>
        <script th:src="@{/js/main/dashboard/components/schedule-list.js}"></script>
        <script th:src="@{/js/main/dashboard/components/modal/schedule-modal.js}"></script>
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script th:src="@{/js/location-sidebar.js}"></script>
        <script th:src="@{/js/main/common/toast.js}"></script>
        <script th:src="@{/js/main/dashboard/components/modal/monthly-more-modal.js}"></script>
</th:block>

</html>
  