<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
        <div class="mylist-header">
                <div class="mylist-columns">
                        <span class="col-title">제목</span>
                        <span class="col-share">Y&nbsp;N</span>
                        <span class="col-edit">✎</span>
                </div>
                <button type="button" id="mylist-add" class="list-add-btn">추가하기</button>
        </div>
        <div id="mylist-container" class="list-container"></div>
	
</div>
</html>
