<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:fragment="main-body" id="body" class="app-body">

	<div id="container">
		<div class="content">
			<!--/* 페이지별 컨텐츠 */-->
			<th:block layout:fragment="content"></th:block>
		</div>
	</div>

	<!-- 	footer -->
	<footer class="main-footer">&copy; <span>2025</span> 포트폴리오	</footer>


        <div th:replace="~{common/notification-sidebar :: notification-sidebar}"></div>

        <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', function() {
                        if (window.notificationSidebar) {
                                window.notificationSidebar.init();
                        }
                });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script th:src="@{/js/notification-modal.js}"></script>
        <script th:src="@{/js/notification-sidebar.js}"></script>
        <th:block layout:fragment="script"></th:block>
</body>
</html>