<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="modalCalendar">
    <div class="modal-calendar" id="modal-calendar">
      <div class="modal-calendar-content">
        <div class="modal-calendar-header">
          <button id="prev-month" class="nav-btn">&#60;</button>
          <span id="modal-calendar-month"></span>
          <button id="next-month" class="nav-btn">&#62;</button>
          <button id="modal-calendar-close" class="close-btn">X</button>
        </div>
        <div class="modal-calendar-body">
          <!-- JS로 동적 렌더링 -->
        </div>
      </div>
    </div>
  </div>
</html>

modal-calendar.html 하고 